<% # For every category, link every tag. %>
<% # => List total files and archived files for each tag. %>
<% # => Also link "Untagged" under the "Unorganized" category. %>

<% archived = Textfile.where(archived: true) %>
<div id="right">
  <div>
    <h2 id="sidebar_title">All Tags</h2>
    <span class="minor_text"><%= link_to("Create", new_tag_path) %></span>
  </div>
  <ul><% @user.tag_categories.each do |category| %>
    <li class="main_text"><details>
      <summary><%= category[:name] %></summary>
      <ul>
        <% category[:tags].sort.each do |tag_name| %>
          <li class="hidden_components">
            <% tag = ActsAsTaggableOn::Tag.find_by(name: tag_name) %>
            <% tag_link = link_to(tag.name, tag_path(tag)) %>
            <% tagged = Textfile.tagged_with(tag.name) %>
            <% archive_num = archived.select{|t| tagged.include?(t)}.length %>
            <%= tag_link %>
            <span class="minor_text hidden">
              <%= " (#{tagged.length} total, #{archive_num} archived)" %>
            </span>
          </li>
        <% end %>
        <li class="hidden_components">
          <% if category[:name] == "Unorganized" %>
            <% link = link_to("Untagged", show_untagged_user_path(@user)) %>
            <% untagged_num = Textfile.all.select{|t| t.tag_list.empty?}.length %>
            <% archive_num = archived.select{|t| t.tag_list.empty?}.length %>
            <%= link %>
            <span class="minor_text hidden">
              <%=" (#{untagged_num} total, #{archive_num} archived)" %>
            </span>
          <% end %>
        </li>
    </ul>
  </details></li>
  <% end %></ul>
</div>
