<%= form_tag(url_for(:controller => "tags", :action => "do_mass_edit"), :method => "post") do |f| %>
  <div id="center">
    <ul><% @textfiles.each do |tf| %>
      <li class="main_text">
        <% checked = tf.tag_list.include? @tag.name %>
        <h2>
          <%= check_box_tag(tf.id, 1, checked, class: "checkbox") %>
          <%= label_tag(tf.id, tf.name) %>
          <button type="button" class="toggle_preview_button <%= tf.id %>">
            Toggle Preview
          </button>
        </h2>
        <div class="preview <%= tf.id %>">
          <ul><li><%= render partial: "/shared/text_preview", locals: {textfile: tf}  %></li></ul>
        </div>
      </li>
    <% end %></ul>
    <p><%= submit_tag "Save", class: "submit_button" %></p>
  </div>
<% end %>
