<% # Probably will break in Linux, as I think it handles newlines differently %>
<% begin %>
  <% contents_list = @textfile.contents.split("\n") %>
<% rescue ArgumentError %>
  <% contents_list = ["ERROR: invalid characters found in file.", "",
    "Ensure that the file is encoded in UTF-8."] %>
<% end %>

<% extra_nav_items = [] %>
<% extra_nav_items << link_to("Edit File", edit_textfile_path(@textfile)) %>

<%= render partial: "/shared/top", locals: {title: @textfile.name, extra_nav_items: extra_nav_items} %>

<div id="parent">
  <div id="left">
    <p class="main_text">
      <% tags = [] %>
      <b>Tags:</b>
      <% # Manually creating a list of tag links because the gem doesn't seem to support it %>
      <% @textfile.tags.each do |t| %>
        <%= link_to(t.name.titleize, tag_path(t)) %><%= "," unless t.equal?(@textfile.tags.last) %>
      <% end %>
    </p>
    <p class="main_text"><b>Location:</b> <%= @textfile.location %></p>
    <hr>
    <p class="main_text">
      <% contents_list.each do |line| %>
        <%= line %><br>
      <% end %>
    </p>
    <p class="nav_link"><%= link_to("Return to all files", user_path(@user)) %></p>
  </div>
  <%= render partial: "/shared/tags", locals: {tags: @tags} %>
</div>
