<!DOCTYPE html>
<html>
  <head>
    <title>Aurora</title>
    <%= csrf_meta_tags %>
    <% # added extensions to 'application' to load files properly: http://stackoverflow.com/a/35965674 %>
    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.notice %>
      <div id="alert">
        <p><%= flash.notice %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
